body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    padding: 5%;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 40px;
    align-items: center;
}
.flexiable{
    display: flex
}
.sperate-font-color{
    color: #be863e;
}
.width-makeup{
    width: 50%;
}
.width-makeup img{
    width: 60%;
}
.button-linking{
    font-size: 14px;
    text-decoration: none;
    background-image: linear-gradient(rgb(204, 44, 23),rgb(177, 212, 95));
    padding: 10px 30px;
    border-radius: 7px;
    color: white;
    font: 700;
}
.one-third-screen{
    width: 99%;
}
#div-1{
    padding: 5%;
}
#side-colour{
    border-left: 6px solid transparent;
    border-radius: 10%;
    border-image: linear-gradient(rgb(204, 44, 23),rgb(177, 212, 95));
    border-image-slice: 1;
}
#first-background{
    background-image: url(images/illustrators/illustrator-1.png);
}
#sec-background{
    background-image: url(images/illustrators/illustrator-2.png)
}
#thrd-background{
    background-image: url(images/illustrators/illustrator-3.png)
}