body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    padding: 5%;
    background-image: url("../images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: right 5% bottom 27%;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 40px;
    text-align: center;
    font: 800;
}
h3{
    font-size: 40px;
    font: 700;
}
h4{
    font-size: 18px;
    font: 400;
}
.flexiable{
    display: flex
}
.sperate-font-color{
    color: #be863e;
}
.width-makeup{
    width: 50%;
}
.width-makeup img{
    width: 60%;
}
.button-linking{
    font-size: 14px;
    text-decoration: none;
    background-color: #ff5959;
    padding: 10px 30px;
    border-radius: 7px;
    color: white;
    font: 700;
}
.width-makeup-image{
    text-align: center;
}
#side-colour{
    border-left: 6px solid transparent;
    border-radius: 10%;
    border-image: linear-gradient(rgb(204, 44, 23),rgb(177, 212, 95));
    border-image-slice: 1;
}
#first-background{
    background-color: rgb(212, 169, 169);
}
#first-background img{
    height: 50%;
    width: 60%;
}
#sec-background{
    background-color: rgb(175, 196, 127);
}
#sec-background img{
    height: 50%;
    width: 50%;
}
#thrd-background{
    background-color: #f3a582;
}
#thrd-background img{
    height: 50%;
    width: 45%;
}
.fix-size div{
    text-align: left;
    border-radius: 9px;
    margin: 15px;
    height: 410px;
    padding-left: 15px;
}
.foot{
    text-align: center;
    color: white;
    background-color: #0b0d17;
    padding: 2px;
}
#foot-part1{
    color: #ff5959;
}
#section-3{
    padding-bottom: 50px;
    padding-top: 50px;
    background-image: url("../images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: left;
}
#section-4{
    height: 410px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#creative{
    padding-top: 30px;
    padding-left: 420px;
    text-align: justify;
    font-size: 30px;
}
#section-last{
    background-color: #f0b479;
    height: 370px;
    border-radius: 15px;
    margin-top: 4px;
    margin-bottom: 20px;
    background-image: url("../images/shapes/shape-6.png");
    background-repeat: no-repeat;
    background-size: 580px;
    background-position: center;
}
input{
    height: 25px;
    width: 25px;
}