body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    padding: 5%;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 40px;
    text-align: center;
}
h3{
    font-size: 40px;
    font: 700;
}
h4{
    font-size: 15px;
    font: 400;
}
.flexiable{
    display: flex
}
.sperate-font-color{
    color: #be863e;
}
.width-makeup{
    width: 50%;
}
.width-makeup img{
    width: 60%;
}
.button-linking{
    font-size: 14px;
    text-decoration: none;
    background-image: linear-gradient(rgb(204, 44, 23),rgb(177, 212, 95));
    padding: 10px 30px;
    border-radius: 7px;
    color: white;
    font: 700;
}
.width-makeup-image{
    text-align: center;
}
.foot{
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(rgb(41, 39, 39),rgb(124, 104, 104));
    border-radius: 10px;
}
#div-1{
    padding: 5%;
}
#side-colour{
    border-left: 6px solid transparent;
    border-radius: 10%;
    border-image: linear-gradient(rgb(204, 44, 23),rgb(177, 212, 95));
    border-image-slice: 1;
}
#first-background{
    background-color: green;
    text-align: justify;
    border-radius: 9px;
}
#first-background img{
    height: 50%;
    width: 45%;
}
#sec-background{
    background-color: hotpink;
    text-align: justify;
    border-radius: 9px;
}
#sec-background img{
    height: 50%;
    width: 45%;
}
#thrd-background{
    background-color: indianred;
    text-align: justify;
    border-radius: 9px;
}
#thrd-background img{
    height: 50%;
    width: 45%;
}
#foot-part1{
    font-size: 30px;
    font: 1200;
}
#section-3{
    padding-bottom: 50px;
    padding-top: 50px;
    background-image: url("../images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: left;
}
#section-4{
    height: 410px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: right 0% bottom -15%;
}
.fix-size div{
    height: 300px;
    padding: 20px;
}